@use "../abstracts/" as *;

// Prefixed
.footer {
  background-color: $footer-bg-clr;
  color: $footer-clr;
  font-size: $footer-fs;
  font-weight: $footer-fw;

  a {
    font-family: $footer-link-ff;
    color: $footer-link-clr;
    letter-spacing: $footer-link-ls;
    font-size: $footer-link-fs;
    font-weight: $footer-link-fw;

    @include hover-underline;
    @include focus;
  }
}
