@use "../abstracts/" as *;

.nav-desktop {
  &[data-is-desktop="false"] {
    visibility: hidden;
    height: 0;
  }

  .menu {
    display: flex;
    gap: 2rem;
  }
}

.nav-mobile {
  width: 100%;
  display: none;

  &[data-active="true"] {
    display: block;
  }

  .menu {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

// Styles for navigation links defined in tokens
.nav-desktop,
.nav-mobile,
.has-dropdown {
  a, button {
    font-family: $navigation-link-ff;
    color: $navigation-link-clr;
    letter-spacing: $navigation-link-ls;
    font-size: $navigation-link-fs;
    font-weight: $navigation-link-fw;
    text-transform: $navigation-link-tt;

    @include hover-underline;
    @include focus;
    

    // style for active link
    &[aria-current="page"] {
      font-weight: $navigation-link-active-fw;
    }
  }
}

// Extra styles for mobile nav-links that overide styles for desktop version
.nav-mobile {
  a,
  .has-dropdown {
    display: block;
    padding-block: 8px;
    border-block-end-style: solid;
    border-block-end-width: 1px;
    border-block-end-color: $neutral-300;
  }
}

// Dropdown
.has-dropdown {
  position: relative;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2.5rem 2rem;
  box-shadow: $box-shadow-1;
  min-width: 180px;
  position: absolute;
  inset: 140% 0 auto;
  z-index: 100;
  background-color: $neutral-100;
  border: 2px solid $neutral-900;
  // to make it centered:
  //transform: translateX(-25%); 
}
