---
import "../../sass/main.scss";

const { href, external, style = "primary", className, ...rest } = Astro.props;
---

<a
  href={href}
  target={external ? "_blank" : null}
  rel={external ? "noopener" : null}
  class:list={["button", className]}
  data-style={style}
  {...rest}
>
  <slot />
</a>
